{% extends "baseadmin.html.twig" %}

{% block admin_title %}Gestion des playlists{% endblock %}

{% block body %}
    <h2>Nouvelle playlist</h2>
    {{ form_start(formplaylist) }}
    
    {{ form_end(formplaylist) }}
{% endblock %}
