{% extends "baseadmin.html.twig" %}

{% block admin_title %}Gestion des formations{% endblock %}
{% block body %}
    <h2>Nouvelle formation</h2>
    {{ form_start(formformation) }}
    
    {{ form_end(formformation) }}
{% endblock %}

